{% extends "main/base.html" %}
{% load static %}
{% block title %}RentooPMS{% endblock title %}
{% block heading %}RentooPMS{% endblock heading %}
{% block content %}
<div class="row">
    <!-- Earnings (Monthly) Card  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Avg Earning per Month</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <div id="avg_m">
                                {{avg_month}}
                            </div>
                            <div id="currency">
                                {{currency_symbol}}
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ti ti-calendar text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Annual) Card  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Earnings (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <div id="avg_a">
                                {{annual_earnings}}
                            </div>
                            <div id="currency">
                                {{currency_symbol}}
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ti ti-currency-dollar text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Registered Products
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{products}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ti ti-tag fa-2x text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Categories Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Registered Categories
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{categories}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ti ti-tag text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






{%endblock content%}