<nav class="sidebar-nav scroll-sidebar">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Essentials</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-building"></i>
                </span>
                <span class="hide-menu">Property</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-building-warehouse"></i>
                </span>
                <span class="hide-menu">Houses</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Tenants</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Agents</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Leases</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-file-report"></i>
                </span>
                <span class="hide-menu">Reports</span>
            </a>
        </li>

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Company</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-mail"></i>
                </span>
                <span class="hide-menu">Communication</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Landlords</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-hammer"></i>
                </span>
                <span class="hide-menu">Maintenance</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-truck"></i>
                </span>
                <span class="hide-menu">Expenses</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">Purchases</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-cash"></i>
                </span>
                <span class=" hide-menu">Accounting</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Users</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-settings"></i>
                </span>
                <span class="hide-menu">Settings</span>
            </a>
        </li>

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">EXTRA</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-wallet"></i>
                </span>
                <span class="hide-menu">Subscription</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                    <i class="ti ti-cloud"></i>
                </span>
                <span class="hide-menu">Cloud</span>
            </a>
        </li>
    </ul>

</nav>