{% extends "main/base.html" %}
{% load static %}
{% block title %}Add new house{% endblock title %}
{% block heading %}Add new house{% endblock heading %}
{% block content %}
<div class="ml-2 mb-3">
    <a href="{% url 'client:houses' %}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Go Back
        </button>
    </a>
    <a href="{% url 'client:houses' %}">
        <button type="button" class="btn btn-success font-weight-bold">
            <i class="ti ti-settings"></i>
            Advanced
        </button>
    </a>
    <a href="{% url 'client:houses' %}">
        <button type="button" class="btn btn-secondary font-weight-bold">
            <i class="ti ti-file-upload"></i>
            Import CSV
        </button>
    </a>
</div>

<div class="card ml-2 shadow">
    <div class="card-body">
        <form action="/api/houses/" method="post">

            <div class="alert alert-success" role="alert">
                <i class="ti ti-info-circle mr-2"></i>
                Fill in the details of the house below.
            </div>

            <div class="row">
                <div class="form-group col-md-8">
                    <label for="house_number">
                        House Number
                    </label>
                    <input type="text" name="house_number" placeholder="House number, for example, 1,2 or XFGCY"
                        id="house_number" class="form-control" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="rent">
                        Monthly Rent
                    </label>
                    <input type="text" name="rent" placeholder="Kshs 30,000" id="rent" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="property">Property where the house is located</label>
                    <select name="property" class="form-control" id="property" required>
                        {%for prop in properties%}
                        <option value="{{prop.id}}">
                            {{prop.name}}
                        </option>
                        {%endfor%}
                    </select>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="purpose">Type of house</label>
                    <select name="purpose" class="form-control" id="purpose" required>
                        {%for type in house_types%}
                        <option value="{{type.value}}">{{type.name}}</option>
                        {%endfor%}
                    </select>
                </div>

            </div>

            <button class="btn btn-success mt-3" type="submit">
                Create house
            </button>

        </form>


    </div>
    {%endblock content%}